.PassRecoveryForm {
    &-Container {
        margin: 10px;
        padding: 30px 20px 0;
        border: 1px solid #ebedf0;
        min-width: 400px;
        max-width: 600px;
        border-radius: 10px;
    }

    &-Forgot {
        float: right;
    }

    &-Button {
        width: 100%;
    }
}

.PassRecoveryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}